.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
    color: var(---text);
    flex-direction: column;
}

.auth-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(---background-lighter);
    border: 1px solid var(---soft);
    padding: 20px 50px;
    gap: 10px;
}

.auth-title {
    font-size: 24px;
}

.auth-subtitle{
    font-size: 20px;
    font-weight: 300;
}

.auth-input{
    border: 1px solid var(---soft);
    border-radius: 3px;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    color: var(---text-soft);
}

.auth-btn{
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    background-color: var(---soft);
    color: var(---text-soft);
}

.auth-details{
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    color: var(---text-soft);
}

.auth-links{
    margin-left: 50px;

}

.auth-link{
    margin-left: 30px;

}

.auth-footer{
    font-size: 12px;
    font-weight: 300;
    color: var(---text-soft);
}

